<section class="author-box">
  <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}" class="author-img">
  <div class="author-desc">
    <h2>{{site.author}}</h2>
    <p>{{site.about-author}}</p>
    <ul>
      {% if site.email %}
        <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% else %}
        <li class="email"><a href="mailto:example.adam@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.phone %}
        <li class="phone"><a href="tel:{{site.phone}}"><i class="fa fa-phone"></i></a></li>
      {% else %}
        <li class="phone"><a href="tel:044 825 5523"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.website %}
        <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
      {% else %}
        <li class="website"><a href="https://artemsheludko.github.io" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.twitter %}
        <li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% else %}
        <li class="twitter"><a href="https://twitter.com/artemsheludko_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      {% endif %}
    </ul>
  </div>
</section>
